@import 'tailwindcss';

@font-face {
  font-family: 'Mont';

  src:
    url('/fonts/Mont/Mont-Regular.woff2') format('woff2'),
    url('/fonts/Mont/Mont-Regular.woff') format('woff'),
    url('/fonts/Mont/Mont-Regular.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Mont';

  src:
    url('/fonts/Mont/Mont-Bold.woff2') format('woff2'),
    url('/fonts/Mont/Mont-Bold.woff') format('woff'),
    url('/fonts/Mont/Mont-Bold.ttf') format('truetype');

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

/* Adicione mais pesos e estilos conforme necessário */

:root {
  --background: radial-gradient(117.59% 117.59% at 50% -12.31%, #11031c 33.32%, #1c052e 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);

  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Mont, sans-serif;
  font-weight: 600;
}

.kcire-gradient {
  background-image:
    url('/s1-bg.svg'), radial-gradient(117.59% 117.59% at 50% -12.31%, #11031c 33.32%, #1c052e 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.kcire-gradient::before {
  content: '';
  z-index: 2;
  pointer-events: none;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translatex(-50%);
  filter: blur(200px);
  width: 1000px;
  height: 80%;
  pointer-events: none;
  opacity: 0.5;
  background: #9317ae;
  border-radius: 100%;
}

.badge {
  display: flex;
  padding: 5px 35px 5px 5px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: rgba(243, 153, 255, 0.05);
}
